body{
    width: 70%;
    margin: auto;
}

h1{
    text-align: center;
}
header{
    text-align: center;
}
p{
    text-align: center;
}

/* form{
    text-align: center;
    margin: auto;
    width: 100%;
} */

table{
    border: 3px;
    border-color: rgba(241, 181, 15, 0.448);
    background: rgba(243, 219, 121, 0.216);
}

input{
    width: 200px;
    /* height: 20px; */
}
input.btn{
    margin: auto;
    padding: auto;
    text-align: center;
    right : 0;
}
